@charset "utf-8";
/* CSS Document */


body {
	background:url(../images/background.png);
	font-size:62.5%;
}
	
.MagicMirror {
	
}
	
.logo {
	text-align:center;
	margin-top:5.5em;
}
	
.text {
	color:#FFF;
	font-size:1.2em;
	line-height:1.75em;
	margin-top:7em;
	margin-left:4em;
	margin-right:4em;
}
	
.icon {
	text-align:center;
	color:#FFF;
	font-size:1.2em;
	position:fixed;
	top:34em;
	left:5em;
	
}
.icon2 {
	text-align:center;
	color:#FFF;
	font-size:1.2em;
	position:fixed;
	top:34em;
	right:5em;
}
